<!-- SITE FOOTER -->
<footer class="site-footer" id="site-footer">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center branding-block">
                <p>
                    {{footer_contents.description}}
                </p>
                <ul class="list-inline footer-social">
                    <li class="list-inline-item"><a href="{{settings.1.value}}"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="{{settings.2.value}}"><i class="fab fa-linkedin"></i></a></li>
                    <li class="list-inline-item"><a href="{{settings.0.value}}"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            
        </div> <!-- .row -->
        <div class="back-to-top"><a href="#site-header"><i class="bi bi-box-arrow-up"></i></a></div>
        <div class="row footer-bottom">
            <div class="col-md-6">
                <p><strong>{{footer_contents.productInfo}}</strong></p>
            </div>
            
        </div> <!-- .footer-bottom -->
    </div> <!-- .container -->
</footer> <!-- .site-footer -->