<!-- ABOUT SECTION -->
<section class="about-section section-block" id="about-section" data-aos="fade-up">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 image-block" data-aos="fade-right" data-aos-delay="200" data-aos-duration="2000">
                <div class="img-wrapper about-img-wrap" data-tilt data-tilt-max="10">
                    <img class="about-img-1 img-fluid" src="{{about_content.image.url}}" alt="about image">
                    <img class="about-img-2 img-fluid" src="{{about_content.img.url}}" alt="about image 2">
                </div>
            </div>
            <div class="col-xl-6 content-block" data-aos="fade-right" data-aos-delay="400" data-aos-duration="2000">
                <h2><span>{{about_content.title}}</span>{{about_content.value}}</h2>
                <p>
                    {{about_content.description}}
                </p>
                <div class="personal-details row">
                    <div class="col-md-6">
                        <ul class="personal-info">
                            <li>
                                <h4>Name</h4>
                                <p>{{about_content.name}}</p>
                            </li>
                            <li>
                                <h4>Email</h4>
                                <p>{{about_content.email}}</p>
                            </li>
                            <li>
                                <h4>Phone</h4>
                                <p>{{about_content.phone}}</p>
                            </li>
                        </ul> <!-- .personal-info -->
                    </div> <!-- .col-md-6 -->
                    <div class="col-md-6">
                        <ul class="personal-info">
                            <li>
                                <h4>Age</h4>
                                <p>{{about_content.age}} Years</p>
                            </li>
                            <li>
                                <h4>Education</h4>
                                <p>{{about_content.education}}</p>
                            </li>
                            <li>
                                <h4>Freelance</h4>
                                <p>{{about_content.freelance}}</p>
                            </li>
                        </ul> <!-- .personal-info -->
                    </div> <!-- .col-md-6 -->
                </div> <!-- .personal-details -->
                <a class="btn-main" href="{{about_content.cv.url}}">Download CV</a>
            </div>
        </div> <!-- .row -->
    </div> <!-- .container -->
</section> <!-- .about-section -->

