<!-- HERO AREA -->
<section class="hero-area" id="hero-area">
    <div class="container">
        <div class="hero-content d-flex justify-content-center">
            <div class="row d-flex align-items-center justify-content-center">

                <div class="col-xl-10 text-center content-block">
                    <h1 class="hero-head"><small>{{home_content.title}}</small><strong>{{home_content.value}}</strong></h1>
                    <p>
                        {{home_content.description}}
                    </p>
                    <div class="link-group">
                        <a class="btn-ghost" href="#{{menus.1.slug}}">About Me</a>
                    </div>
                </div>

            </div> <!-- .row -->
        </div> <!-- .hero-content -->
    </div> <!-- .container -->

    <div class="line-wrapper">
        <div class="lines">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
    </div> <!-- .line-wrapper -->

    <div class="glitch-img">
        
    </div> <!-- .glitch-img -->

</section> <!-- .hero-area -->

